In [1]:
import pandas as pd 
import numpy as np 

df=pd.read_csv("ReadySoilDataset_Final.csv")
df.head()

,Region,Year,Month,SoilTemperature-10,SoilTemperature-30,SoilTemperature-50,Rainfall,Temperature,Min Temperature,Max Temperature,Humidity,Sunshine,Wind Speed,Surface Pressure,Solar Radiation
0,0,2001,1,17.89,19.85,19.94,0.0,17.08,10.13,25.71,80.48,8.92,2.24,101281.92,207.58
1,0,2001,2,21.95,22.76,22.13,64.0,21.82,14.94,29.49,78.07,8.60,2.06,101059.03,214.45
2,0,2001,3,26.32,27.46,26.37,21.0,25.91,19.05,33.12,74.81,8.03,2.22,100912.25,253.59
3,0,2001,4,30.51,31.25,29.97,51.0,28.98,23.57,34.57,75.23,6.84,2.96,100700.03,259.83
4,0,2001,5,30.05,31.21,30.41,244.0,28.28,23.70,32.84,86.23,4.99,2.66,100247.55,187.60

Epoch 0, Loss: 0.20432
Epoch 50, Loss: 6642035217107337882251997970649513279720831703358755357822625853977805368154033760501760.00000
Epoch 100, Loss: 9541018293673784882883764917988001940391898058199914039908077662977087185323962401557774088317832938360340630698331182923288411893931679132851580497645286821753296433218322432.00000
Epoch 150, Loss: 13705291692184436638337060433206965629069317500856744837972560543269024173705609584589137881868487889094289743759170544108412023584164035103863290670989308148607336530413801615427914271202402216934551138979771245058633780266473951635074819151294558328016972283904.00000
Epoch 200, Loss: inf
Epoch 250, Loss: nan
Epoch 300, Loss: nan
Epoch 350, Loss: nan
Epoch 400, Loss: nan
Epoch 450, Loss: nan
⚠️ NaN detected in predictions or test labels.

C:\Users\HP Laptop 15\tfenv\lib\site-packages\numpy\core\_methods.py:118: RuntimeWarning: overflow encountered in reduce
  ret = umr_sum(arr, axis, dtype, out, keepdims, where=where)
C:\Users\HP Laptop 15\AppData\Local\Temp\ipykernel_15264\2637928845.py:55: RuntimeWarning: overflow encountered in square
  return np.mean((y_true - y_pred) ** 2)
C:\Users\HP Laptop 15\AppData\Local\Temp\ipykernel_15264\2637928845.py:76: RuntimeWarning: invalid value encountered in multiply
  delta1 = np.dot(error, W2.T) * sigmoid_deriv(a1)